<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 th:text="${'Info about '+actor.getName()}"></h1></div>
    <div class="row my-3">
        <div class="col-xs-3">
            <h2 th:text="${surname}"></h2>
            <img th:src="${actor.getImage()}">
        </div>
        <div class="col-8">
            <h1>Abstract</h1>
            <h6 th:text="${actor.getActorAbstract()}"></h6></div>
    </div>

    <th:block>

        <h2 th:text="${'Birth name: '+actor.getName()}"></h2>
    </th:block>
    </br>
    <div class="container">
        <table class="table table-striped">
        <thead>
        <tr>
            <th class="h2"> Movie Title </th>
        </tr>
        </thead>
        <tbody>



        <tr class="m-1" th:each="movie : ${actor.getMovies()}">
            <td><span class="h4" th:text="${movie}"> </span></td>
            <td>
            <a  class="btn btn-primary" th:href="@{/home/{movieUrl}(movieUrl=${movie})}">Show movie <i class="bi bi-box-arrow-up-right"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>



</div>
</body>
</html>