<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1 th:text="${'Info about movie: '+movie.name}"></h1>
    <h1 th:text="${'Director: '+movie.directorNameFromUrl}"></h1>
    <h2 th:text="${movie.movieAbstract}"></h2>
    <h2 th:text="${'Composer: '+movie.composerNameFromUrl}"></h2>
    <a th:href="@{/home/composer/{composerNameUrl}(composerNameUrl=${movie.composerNameFromUrl})}">Show info about composer</a>
    <img th:src="${movie.image}">
    <h2 th:text="${'Genre: '+movie.genre}"></h2>
    <a th:href="${movie.imdbUrl}" target="_blank">Go to imdb</a>

</div>
<div>
    <h2>Actors in this movie:</h2>
    <ul th:each="actor : ${movie.actors}">
        <li th:text="${actor}"></li>
    </ul>
</div>


</body>
</html>